#container
{
  width:900px;
  height: 500px;
  margin: 0 auto;
}
#header
{
  width: 900px;
  height: 70px;
  margin-bottom:10px;
  background-color: grey;
  display: block;
}
.leftitem
{
width:600px;
height: 100px;
background-color: grey;
float: left;
margin-right:10px;
margin-bottom:10px;

}
#rightmenu
{
  width:290px;
  height: 430px;
  background-color: grey;
  float: right;

  display: block;
}

#clear {
 clear:both;
}
