#container
{
  width:910px;
  height: 640px;
}
#header
{
  width: 900px;
  height: 70px;
  margin-bottom: 10px ;
  background-color: grey;
  display: block;
}
.box
{
width:81px;
height: 81px;
background-color: grey;
float: left;
margin-right: 10px ;
margin-bottom: 10px ;
display: block;
}



#clear {
 clear:both;
}

#footer
{
  width:900px;
  height:30px;
  background-color: grey;

  float:left;


}
