
#container
{
  width:900px;
  height: 620px;
}
#header
{
  width: 900px;
  height: 70px;
  margin-bottom: 10px ;
  background-color: grey;
  display: block;
}
#leftmenu
{
width:245px;
height: 500px;
background-color: grey;
float: left;
margin-right: 5px ;
display: block;
}
#maincontent
{
  width:390px;
  height: 500px;
  background-color: grey;
  float: left;
  margin: 0px 5px;
  display: block;
}
#rightmenu
{
  width:245px;
  height: 500px;
  background-color: grey;
  float: left;
  margin-left: 5px ;
  display: block;
}
#clear {
 clear:both;
}
#footer
{
  width:900px;
  height: 30px;
  background-color: grey;
  margin-top: 10px ;
  float:left;
  display: block;

}
