#menu li
{
  float:left;
display: block;
width: 60px;
background-color: grey;
padding: 2px;
margin: 1px;

}

#menu li a
{
  display: block;
color: white;
text-decoration: none;
text-align: center;

}

#menu li:hover
{
background-color: orange;
color: black;
}

#menu li a:hover
{
  color: black;
}
